<a href="https://colab.research.google.com/github/veena9026/ineuron-assignments/blob/main/assignment_001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
&#39;hello&#39;
-87.8
-
/
+
6

Ans :-

|* | ---- expression

'hello' -----values

-87.8 -----values

| - |  ___ expression

/   ------expression

|+|   ------expression

 6 ------values

2. What is the difference between string and variable?

String :-  Strings are surrounded by either single quotation marks, or double quotation marks.

variable :-  Variables are containers for storing data values.

* A string is a value representing text.
* A variable is a name that can refer to any value.

* A variable can hold a string, but a string can't hold a variable

3. Describe three different data types.

Data types :- 

* 1.Numeric type :-

 Integer :-   A numeric value without decimal point.

 Float :-  Numbers containing decimal points.
 Complex :- It  contains two part – real and imaginary. The imaginary part is written with the “j” suffix.

* 2.Sequence type (str):-contains list,tuple
 
 Strings are surrounded by either single quotation marks, or double quotation marks.

* 3.Boolean:-

 It provides two built-in values, True and False. These values are used to determine the given statement true or false. It denotes by the class bool. True can be represented by any non-zero value or 'T' whereas false can be represented by the 0 or 'F'.

4. What is an expression made up of? What do all expressions do?

* Expression:- An expression is a combination of operators, constants and variables. 
After evaluating an expression, we get a value.

5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?


* An expression refers to a representation of compiled data that is entered via values, variables, and operators. 
* A statement refers to a command that is issued to the program to initiate something.

6. After running the following code, what does the variable bacon contain?

bacon = 22

bacon + 1

In [ ]:
bacon =22
bacon +1

23

In [ ]:
bacon

22

7. What should the values of the following two terms be?

&#39;spam&#39; + &#39;spamspam&#39;

&#39;spam&#39; * 3

In [ ]:
'spam'+'spamspam'

'spamspamspam'

In [ ]:
'spam'*3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

* Variable names should starts with alphabets.

* Variable names can contain numbers but you can't start with numbers

In [ ]:
##Eg:-

Eggs =10

In [ ]:
100 ="dozens "

SyntaxError: ignored

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

In [ ]:
A ,B ,C = 12 ,23.04 ,'veena'

In [ ]:
print(type(A))
print( type(B))
print(type(C))

<class 'int'>
<class 'float'>
<class 'str'>

10. Why does this expression cause an error? How can you fix it?
&#39;I have eaten &#39; + 99 + &#39; burritos.&#39;

In [ ]:
'i have eaten'+'99'+'burritos'

'i have eaten99burritos'

In [ ]:
'i have eaten'+ str(99)+ 'burritos'

'i have eaten99burritos'