<a href="https://colab.research.google.com/github/veena9026/ineuron-assignments/blob/main/Assignment_002.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.What are the two values of the Boolean data type? How do you write them?

Two Boolean data types :-
1.True--represent as a -- (1)
2.False--represent as a-- (0)

In [ ]:
A=bool(1)

print(type(A))
print(A)

<class 'bool'>
True

In [ ]:
B=bool(0)

print(type(B))

print(B)

<class 'bool'>
False

2. What are the three different types of Boolean operators?

Three Boolean operators:-

* 1. NOT
* 2. OR
* 3. AND


3. Make a list of each Boolean operator&#39;s truth tables (i.e. every possible combination of Boolean
values for the operator and what it evaluate).

### AND
* |  A  | ------ | B |------|  Statement |


* TRUE  and  FaLSE  -----FALSE
* FAlSE and TRUE------FALSE
*FAlse and  FALSE-----FALSE
*TRUE and TRUE------TRUE

### OR 
*  |  A  | ------ | B |------|  Statement |


* TRUE  or  FaLSE  -----TRUE
* FAlSE or TRUE------TRUE
*FAlse or  FALSE-----FALSE
*TRUE or TRUE------TRUE

### NOT
*  |  A  | -----------|  Statement |


*  not  FaLSE ----TRUE
*  not  TRUE -----FALSE

4. What are the values of the following expressions?

(5 &gt; 4) and (3 == 5)

not (5 &gt; 4)

(5 &gt; 4) or (3 == 5)

not ((5 &gt; 4) or (3 == 5))

(True and True) and (True == False)

(not False) or (not True)

In [ ]:
(5>4) and (3 ==5)

False

In [ ]:
not (5>4)

False

In [ ]:
(5>4) or(3==5)

True

In [ ]:
not((5>4)or(3==5))

False

In [ ]:
(True and True) and (True==False)

False

In [ ]:
(not False) or (not True)

True

5. What are the six comparison operators?

* | < |--- Less than

* | > |---Greater than

* | <=|---less than or equal to

* | >=|---greater than or equal to

* | ==|---equal to equal to 


* | !=|---not equal to

### 6. How do you tell the difference between the equal to and assignment operators?Describe a condition and when you would use one.

* == is used for compare two values.

* = is used to assign the values to  a variables or expression.

In [ ]:
A=12
B=24

A==B

False

In [ ]:
A=89

print("value of a : ",A)

value of a :  89

###7. Identify the three blocks in this code:

spam = 0

if spam == 10:

print(&#39;eggs&#39;)

if spam &gt; 5:

print(&#39;bacon&#39;)

else:

print(&#39;ham&#39;)

print(&#39;spam&#39;)

print(&#39;spam&#39;)

In [ ]:
spam = 0        
if spam == 10:
  print('eggs')

if spam > 5:
  print('bacon')

else:
  print('ham')
  print('spam')
  print('spam')

ham
spam
spam

In [ ]:

### showing indentation error


spam = 0         ## value assignment

if spam == 10:    ## if condition

  print('eggs')

if spam > 5:

  print('bacon')

else:               ## else 

  print('ham')

  print('spam')
   
  print('spam')

ham
spam
spam

### 8. Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints Greetings! if anything else is stored in spam.

In [ ]:
spam=input ("enter a number:")
if spam ==1:
  print("howdy")
elif spam  ==2:
  print("greetings")
else:
  print("hello")

enter a number:3
hello

### 9.If your programme is stuck in an endless loop, what keys youâ€™ll press?


CTRL+C key

### 10. How can you tell the difference between break and continue?

* Break -- come out of the loop.
*continue--next literation of loop.

### 11. In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?

* no difference, range takes from 0 to 9

In [ ]:
for i in range(10):

  
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(0,10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(0,10,1):

  print(i)

0
1
2
3
4
5
6
7
8
9

### 12. Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent program that prints the numbers 1 to 10 using a while loop.

In [ ]:
### Using for loop

for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
### Using while loop

i=0

while i<10 :
  i=i+1
  print(i)

1
2
3
4
5
6
7
8
9
10


### 13. If you had a function named bacon() inside a module named spam, how would you call it after importing spam?

*  it called as a spam.bacon()