<a href="https://colab.research.google.com/github/veena9026/ineuron-assignments/blob/main/Assignment_16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Create a list called years_list, starting with the year of your birth, and each year thereafter until
the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list =
[1980, 1981, 1982, 1983, 1984, 1985].

In [1]:
yob = int(input("Enter year of birth  :"))
years_list = []
if type(yob)==int:
    for i in range(yob,yob+6):
        years_list.append(i)
print(years_list)

Enter year of birth  :1998
[1998, 1999, 2000, 2001, 2002, 2003]

In [2]:
years_list = [i for i in range(1998,1998+6)]
print(years_list)

[1998, 1999, 2000, 2001, 2002, 2003]

2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your
first year.

In [3]:
print(years_list[3])

2001


3. In the years list, which year were you the oldest?

In [4]:
print(years_list[-1])

2003


4. Make a list called things with these three strings as elements: &quot;mozzarella&quot;, &quot;cinderella&quot;,
&quot;salmonella&quot;.

In [5]:
things = [ele+'ella' for ele in ['mozzar','cinder','salmon']]
print(things)

['mozzarella', 'cinderella', 'salmonella']


5. Capitalize the element in things that refers to a person and then print the list. Did it change the
element in the list?

Ans :-

This capitalizes the word, but doesnâ€™t change it in the list:

In [6]:
for i in things:
    print(i.capitalize())
things

Mozzarella
Cinderella
Salmonella

['mozzarella', 'cinderella', 'salmonella']


6. Make a surprise list with the elements &quot;Groucho,&quot; &quot;Chico,&quot; and &quot;Harpo.&quot;

In [7]:
surprise_list = ["Groucho" ,"Chico" ,"Harpo"]
surprise_list

['Groucho', 'Chico', 'Harpo']


7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [8]:
print(surprise_list[-1].lower()[::-1].capitalize())

Oprah

In [9]:
surprise_1 = []
for i in surprise_list:
    if i!=surprise_list[-1]:
        surprise_1.append(i)
    else:
        b = i.lower()
        c = b[::-1]
        d = c.capitalize()

        surprise_1.append(d)
surprise_list=surprise_1
surprise_list

['Groucho', 'Chico', 'Oprah']


8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is
chien, cat is chat, and walrus is morse.

In [10]:
e2f = {'dog':'chien','cat':'chat','walrus':'morse'}
print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

9. Write the French word for walrus in your three-word dictionary e2f.

In [11]:
e2f["walrus"]

'morse'


10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [12]:
f2e = dict((key,value) for value,key in e2f.items())
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

In [13]:
f2e = dict([ele[::-1] for ele in e2f.items()])
print(f2e)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}


11. Print the English version of the French word chien using f2e.

In [14]:
f2e["chien"]

'dog'


12. Make and print a set of English words from the keys in e2f.

In [15]:
e2f.keys()

dict_keys(['dog', 'cat', 'walrus'])


13. Make a multilevel dictionary called life. Use these strings for the topmost keys: &#39;animals&#39;, &#39;plants&#39;,
and &#39;other&#39;. Make the &#39;animals&#39; key refer to another dictionary with the keys &#39;cats&#39;, &#39;octopi&#39;, and
&#39;emus&#39;. Make the &#39;cats&#39; key refer to a list of strings with the values &#39;Henri&#39;, &#39;Grumpy&#39;, and &#39;Lucy&#39;.
Make all the other keys refer to empty dictionaries.

In [16]:
life = {
    'animals':{
        'cats':['Henri','Grumpy','Lucy'],
        'octopi':{},
        'emus':{}
    },
    'plants':{},
    'other':{}
}
print(life)

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}}, 'plants': {}, 'other': {}}


14. Print the top-level keys of life.

In [17]:
list(life.keys())

['animals', 'plants', 'other']


15. Print the keys for life[&#39;animals&#39;].

In [18]:
list(life["animals"].keys())

['cats', 'octopi', 'emus']


16. Print the values for life[&#39;animals&#39;][&#39;cats&#39;]

In [19]:
print(life["animals"]["cats"])

['Henri', 'Grumpy', 'Lucy']